@font-face {
    font-family: mainFont;
    src: url("../fonts/Droid.Arabic.Kufi_DownloadSoftware.iR_.ttf");
}

* {
    box-sizing: border-box;
}
:root {
    --light-color: #F2ECE4;
    --main-color: #3F5D4A;
    --text-color: #2E2620;
}
body {
    position: relative;
    background-color: #f3f3f3;
    font-family: mainFont, sans-serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}

.main-links {
    color: var(--text-color);
}
.main-links:hover {
    color: var(--main-color);
}
.main-btn {
    background-color: var(--main-color);
    color: white;
    position: relative;
    transition: 0.5s;
}
.main-btn:hover {
    background-color: var(--main-color);
    color: white;
}
.main-btn::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    bottom: 50px;
    left: 0;
    background-color: #ab7037;
    z-index: 1;
    transition: 0.5s;
}
.main-btn span {
    position: relative;
    z-index: 5;
}
.main-btn:hover {
    padding-left: 32px !important;
    padding-right: 32px !important;
}
.main-btn:hover::before {
    bottom: 0;
}
.target-icon {
    color: var(--text-color);
    transition: 0.5s;
}
.card:hover .target-icon {
    transform: scale(1.2);
}
.rotated-heading-icon {
    transform: scaleX(-1);
}

/* Menu */

nav {
    z-index: 100;
}
.sub-menu {
    background-color: var(--main-color);
}
.sub-menu button:hover {
    color: var(--main-color);
}
.sub-menu button:active {
    border: none;
}
.middle-menu-side {
    gap: 20px;
}
.social-icons i {
    color: var(--text-color);
}
.social-icons li i:hover {
    color: var(--text-color) !important;
}
.search-form {
    background-color: #f3f3f3;
    border: 1px solid var(--main-color);
}
.search-form input {
    border-left: 1px solid var(--main-color) !important;
}
.search-form input:focus {
    outline: none !important;
    box-shadow: none !important;
}
.main-menu, .middle-menu {
    background-color: #f3f3f3;
}
.main-menu {
    border-top: 1px solid #cbc4b4;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
.dropDown-menu {
    background-color: #f3f3f3;
    z-index: 10;
    transition: 2s;
}
.dropdown:hover .dropDown-menu {
    display: block !important;
}
.dropDown-menu .dropdown-item {
    color: var(--text-color) !important;
    transition: 0.3s;
}
.dropDown-menu .dropdown-item:hover  {
    transform: translateX(-2px);
    color: var(--main-color) !important;
}
.menu-links {
    font-size: 14px;
    font-weight: bold;
}
.main-menu .navbar-nav li .nav-link.active, .main-menu .navbar-nav li .nav-link:hover {
    color: var(--text-color) !important;
}
.navbar-toggler, .navbar-toggler:focus, .navbar-toggler:focus-visible, .navbar-toggler:focus-within, .navbar-toggler:active {
    box-shadow: none !important;
}
.navbar-fa-icon:hover {
    color: var(--text-color);
}

/* Hero Section */

.hero-section {
    margin-bottom: 40px;
}
.hero-section .content{
    z-index: 50;
}
.hero-carousel-cont .hero-carousel::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000063;
    z-index: 20;
}
.hero-carousel .carousel-item img {
    filter: blur(1px)
}
.carousel-control-prev, .carousel-control-next, .carousel-indicators {
    z-index: 50;
}
.hero-cards-section .card {
    background-color: #e5e5e5;
    height: 100%;
    overflow: hidden;
    transition: 0.5s;
}
.hero-cards-section .card:hover {
    background-color: #d9dcda;
}
.hero-cards-section .card i {
    font-size: 200px;
    position: absolute;
    top: 50%;
    right: 50% !important;
    transform: translateY(-50%);
    color: #3f5d4a12;
    transition: 1s;
}
.hero-cards-section .card:hover i {
    right: 14% !important;
    transform: scale(2);
    opacity: 0.2;
    top: -18%;
}
.hero-cards-section .card-body {
    position: relative;
    z-index: 10;
}
.hero-cards-section > div > div {
    z-index: 80;
}

/* Welcome Section */

#welcome-sec {
    opacity: 0;
    transform: translateY(50px);
}
.welcome-section {
    background-image: url("../imgs/welcome-img.png");
    background-size: cover;
    height: 60vh;
}
.welcome-section::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #efe8df4d;
    display: none;
}
.welcome-section .container {
    position: relative;
    z-index: 10;
}
.welcome-section .content .content-img {
    width: 150px;
}
.welcome-section .content {
    flex-basis: 50%;
}

/* Events Section */


.events-section {
    margin: 40px 0;
    transform: translateY(150px);
    opacity: 0;
}
.events-section .card {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.175);
    background: linear-gradient( 160deg, #ffffff 0%, #f0ede6 30%, #e2dac7 55%, #c4ad7a 100% );
    background-size: 300% 300%;
    overflow: hidden;
    border: 1px solid var(--light-color);
    height: auto;
}
.events-section .card:hover {
    box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.175);
}
.events-section .card::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: #ab703712;
    transform: translate(-140px, 170px) rotate(35deg);
    transition: 0.5s;
}
.events-section .card:hover::before {
    transform: translate(-140px, 170px) rotate(20deg);
}
.events-section .card:hover .card-img-top {
    transform: scale(1.1);
}
.events-section img {
    transition: 0.5s;
}
.events-section .card .card-body {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 1s ease, opacity 1s ease, transform 1s ease;
    transform: translateY(20px);
}
.events-section .card:hover .card-body {
    max-height: 500px;
    opacity: 1;
    transform: translateY(0);
}
.events-section .card h5 {
    height: 75px;
}

/* Separator */

.separator {
    background-image: url("../imgs/separator-bg.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    padding: 80px 0;
}
.separator::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #00000073;
}

/* Images Section */

.images-section {
    margin: 40px 0;
}
#images-sec {
    transform: translateX(-400px);
    opacity: 0;
}
.swiper {
  width: 100%;
}
.swiper .swiper-slide img {
    max-width: 100%;
    height: auto;
    padding: 10px;
    border-radius: 6px;
}
.swiper .swiper-slide img:hover {
    box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.15) !important;
}
.swiper-pagination-bullet-active {
    background-color: var(--main-color);
}

/* Videos Section */

#videos-sec {
    transform: translateY(150px);
    opacity: 0;
}
.videos-section {
    margin: 40px 0 0;
    padding: 40px 0;
    overflow: hidden;
}
.videos-section::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url("../imgs//videos-bg.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.2;
    animation: moveBg 15s ease-in-out infinite alternate;
}
.videos-section .container {
    position: relative;
    z-index: 10;
}

/* Footer */

footer {
    padding: 20px 0 0;
    position: relative;
    background: linear-gradient(180deg, #f9f9f9, #e4dcca);
}
.visitors-num {
    background-color: var(--main-color);
    border-radius: 4px;
}
footer .container:first-child {
    padding-bottom: 20px;
}
footer .main-links {
    font-size: 10px;
    margin-bottom: 5px;
    color: var(--text-color);
}
footer .contacts-side .main-links a {
    font-size: 12px;
}
footer .main-links a {
    color: var(--text-color);
}
footer .contacts .main-links i {
    color: #ab7037;
}
footer .main-links:hover, footer .main-links a:hover {
    color: #ab7037;
}
footer .links-side, footer .contacts-side, footer .location-side {
    margin-top: 24px;
}
footer .contacts-side .contacts {
    width: fit-content;
}
footer .location-side iframe {
    width: 90%;
}
.copyright {
    background-color: var(--main-color);
    font-size: 10px;
}
.copyright img {
    width: 100px;
}

/* Scroll To Top Btn */

.scroll-to-top {
    z-index: 1000;
    bottom: 50px;
    right: -50px;
    width: 40px;
    height: 40px;
    font-size: 24px;
    border-radius: 50%;
    background-color: var(--main-color);
    transition: 0.5s;
    cursor: pointer;
}
.scroll-to-top.show {
    right: 50px;
}
.scroll-to-top:hover {
    background-color: var(--main-color);
}


/* Keyframes */
@keyframes moveBg {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}


/* Media Queries */

/* Small Screen */

@media (max-width: 767.98px) {
    /* Menu */
    .logo {
        width: 50px;
    }
    .middle-menu .navbar-brand p {
        line-height: 8px;
    }
    .middle-menu .navbar-brand span:first-child {
        font-size: 12px;
    }
    .middle-menu .navbar-brand span:nth-child(2) {
        font-size: 9px;
    }
    .main-menu ul {
        align-items: flex-start !important;
        position: absolute;
        background: #f3f3f3;
        width: 100%;
        left: 0;
        padding: 10px;
    }
    .main-menu > ul {
        height: 100vh;
    }
    .main-menu .dropdown {
        width: 100%;
    }
    .main-menu .dropdown ul {
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    }
    /* Hero Section */
    .hero-section .content div {
        top: 6%;
        font-size: 12px;
        text-shadow: 1px 1px #5c2e00;
    }
    .hero-cards-section {
        margin-top: 15px;
    }
    .hero-cards-section h5 {
        font-size: 12px;
    }
    .hero-cards-section a {
        font-size: 12px;
    }
    .hero-cards-section .row {
        gap: 10px 0;
    }
    /* Welcome Section */
    .welcome-section {
        background-position: center;
    }
    .welcome-section::before {
        display: block;
    }
    .welcome-section .content {
        text-align: center;
    }
    .welcome-section .container {
        justify-content: center;
    }
    .welcome-section .content img {
        transform: rotate(90deg);
    }
    .welcome-section .welcome-img img {
        width: 100%;
    }
    .welcome-section .content h2 {
        text-align: center;
    }
    /* Events Section */
    .events-section .row {
        gap: 10px 0;
    }
    /* Separator */
    .separator h2 {
        font-size: 18px;
    }
    .separator button {
        font-size: 14px;
    }
    /* Images Section */
    .swiper {
        height: 300px;
    }
    .carousel-indicators {
        margin-bottom: 0px !important;
    }
    .carousel-indicators button {
        width: 20px !important;
        height: 2px !important;
    }
    /* Videos Section */
    .videos-section .row {
        gap: 10px 0;
    }
    /* Footer */
    footer .logo {
        width: 70px;
    }
    footer .navbar-brand {
        line-height: 18px;
    }
    footer .navbar-brand span:first-child {
        font-size: 15px;
    }
    footer .logo-side p {
        font-size: 14px;
    }
    footer .navbar-brand span:nth-child(2) {
        font-size: 12px;
    }
    .copyright {
        font-size: 6px;
        text-align: center;
    }
    .copyright img {
        width: 70px;
    }
    /* Scroll To Top Btn */
    .scroll-to-top {
        width: 30px;
        height: 30px;
        font-size: 18px;
    }
}

/* Medium Screen */

@media (min-width: 768px) and (max-width: 991.98px) {
    /* Menu */
    .logo {
        width: 80px;
    }
    .middle-menu .navbar-brand p, footer .navbar-brand p {
        line-height: 20px;
    }
    .middle-menu .navbar-brand span:first-child, footer .navbar-brand span:first-child {
        font-size: 16px;
    }
    .middle-menu .navbar-brand span:nth-child(2), footer .navbar-brand span:nth-child(2) {
        font-size: 12px;
    }
    .main-menu ul {
        align-items: flex-start !important;
        position: absolute;
        background: #f3f3f3;
        padding: 15px;
        box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.15);
        border-radius: 6px;
    }
    .main-menu > ul {
        height: 50vh;
    }
    .main-menu .dropdown {
        width: 100%;
    }
    .main-menu .dropdown ul {
        box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.15);
    }
    /* Hero Section */
    .hero-cards-section {
        margin-top: -20px;
    }
    .hero-cards-section .row {
        gap: 10px 0;
    }
    .hero-section .content div {
        top: 15%;
        font-size: 24px;
        text-shadow: 3px 3px #5c2e00;
    }
    .hero-cards-section h5 {
        font-size: 14px;
    }
    .hero-cards-section a {
        font-size: 14px;
    }
    /* Welcome Section */
    .welcome-section {
        background-position: center;
    }
    .welcome-section::before {
        display: block;
    }
    .welcome-section .container {
        justify-content: center;
    }
    .welcome-section .welcome-img {
        margin-top: 40px;
        margin-bottom: 20px;
    }
    .welcome-section .welcome-img img {
        width: 100%;
    }
    /* Images Section */
    .swiper {
        height: 220px;
    }
    /* Events Section */
    .events-section .row {
        gap: 10px 0;
    }
    /* Separator */
    .separator h2 {
        font-size: 18px;
    }
    .separator button {
        font-size: 14px;
    }
    /* Images Section */
    .carousel-indicators {
        margin-bottom: 20px !important;
    }
    /* Videos Section */
    .videos-section .row {
        gap: 10px 0;
    }
    /* Footer */
    footer .logo-side p {
        font-size: 14px;
    }
    /* Scroll To Top Btn */
    .scroll-to-top {
        width: 30px;
        height: 30px;
        font-size: 18px;
    }
}

/* Large Screen */

@media (min-width: 992px) {
    /* Menu */
    .logo {
        width: 100px;
    }
    .middle-menu .navbar-brand span:first-child {
        font-size: 22px;
    }
    .middle-menu .navbar-brand span:nth-child(2) {
        font-size: 17px;
    }
    /* Hero Section */
    .hero-section .content div {
        top: 30%;
        font-size: 40px;
        text-shadow: 3px 3px #5c2e00;
    }
    .hero-cards-section {
        margin-top: -40px;
    }
    .hero-cards-section h5 {
        font-size: 16px;
    }
    /* Welcome Section */
    .welcome-section .content p {
        line-height: 30px;
    }
    .welcome-section .welcome-img img {
        width: 80%;
    }
    /* Images Section */
    .swiper {
        height: 300px;
    }
    .carousel-indicators {
        margin-bottom: 50px !important;
    }
    /* Footer */
    footer .logo {
        width: 70px;
    }
    footer .logo-side p {
        font-size: 14px;
    }
    footer .navbar-brand span:first-child {
        font-size: 18px;
    }
    footer .navbar-brand span:nth-child(2) {
        font-size: 13px;
    }
}

